// Needed for singularity
singularity.enabled=true
singularity.autoMounts=true

// Required if not msconvert
params.db="/media/storage/timothy/MSfiles/iprg2016_with_labels.fasta"

// Required inputs
params.output_path="/media/storage/timothy/quandenser-pipeline/output"
params.batch_file="/media/storage/timothy/quandenser-pipeline/file_list.txt"

// Custom mounts
params.custom_mounts=""

// Editing the nextflow pipeline
params.parallell_msconvert=true
params.parallell_dinosaur=false
params.parallell_targeted_dinosaur=false

// Choosing workflow
params.workflow="Full"

// Advanced Settings
params.msconvert_additional_arguments=""
params.pvalue_threshold=10
params.max_missing=3
params.fold_change_threshold=3
