// Needed for singularity
singularity.enabled = true
singularity.autoMounts = true

// Required inputs
params.output_path = "/media/storage/timothy/quandenser-pipeline/output"
params.db = "/media/storage/timothy/MSfiles/iprg2016_with_labels.fasta"
params.batch_file = "/media/storage/timothy/quandenser-pipeline/file_list.txt"

// Editing the nextflow pipeline
params.parallell_msconvert = true
params.parallell_dinosaur = false
params.parallell_targeted_dinosaur = false
