// NEEDED
OUTPUT_PATH="/media/storage/timothy/quandenser-pipeline/output"
singularity.autoMounts = true

params.output_path = "/media/storage/timothy/quandenser-pipeline/output"
params.db = "/media/storage/timothy/MSfiles/iprg2016_with_labels.fasta"
params.batch_file = "/media/storage/timothy/quandenser-pipeline/ui/file_list.txt"
