[General]
State_batch_file_viewer="/media/storage/timothy/MSfiles/mzML/A1.mzML,A;/media/storage/timothy/MSfiles/mzML/A2.mzML,A;/media/storage/timothy/MSfiles/mzML/A3.mzML,A;/media/storage/timothy/MSfiles/mzML/B1.mzML,B;/media/storage/timothy/MSfiles/mzML/B2.mzML,B;/media/storage/timothy/MSfiles/mzML/B3.mzML,B;/media/storage/timothy/MSfiles/mzML/C1.mzML,C;/media/storage/timothy/MSfiles/mzML/C2.mzML,C;/media/storage/timothy/MSfiles/mzML/C3.mzML,C;,;,;,;,;,;,;,;,;,;,;,;"
State_file_viewer_directory_0=/media/storage/timothy/quandenser-pipeline/output
State_file_viewer_file_0=/media/storage/timothy/MSfiles/iprg2016_with_labels.fasta
State_main=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x3O\0\0\x2~\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\0)
windowGeometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\tY\0\0\0\xdc\0\0\f\xa7\0\0\x3w\0\0\tY\0\0\0\xfa\0\0\f\xa7\0\0\x3w\0\0\0\x1\0\0\0\0\x6\x90\0\0\tY\0\0\0\xfa\0\0\f\xa7\0\0\x3w)
