[General]
State_QLineEdit=
State_batch_file_viewer=",;,;,;,;,;,;,;,;,;,;,;,;,;,;,;,;,;,;,;,;"
State_database_viewer=
State_main=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x2\x81\0\0\x2%\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\0)
windowGeometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\b\xcb\0\0\0o\0\0\vK\0\0\x2\xb1\0\0\b\xcb\0\0\0\x8d\0\0\vK\0\0\x2\xb1\0\0\0\x1\0\0\0\0\x6\x90\0\0\b\xcb\0\0\0\x8d\0\0\vK\0\0\x2\xb1)
