// Needed for singularity //
singularity.enabled=true
singularity.autoMounts=true

// Random hash to use in nextflow //
params.random_hash="qwerty"

// Required if not msconvert or quandenser workflow //
params.db=""

// Required inputs //
params.output_path=""
params.batch_file=""

// Custom mounts //
params.custom_mounts=""

// Editing the nextflow pipeline //
params.parallel_msconvert=true
params.parallel_quandenser=false
params.parallel_msconvert_max_forks=0
params.parallel_quandenser_max_forks=0

// Choosing workflow //
params.workflow="Full"

// Advanced Settings //

// MSconvert
params.msconvert_additional_arguments=""

// Quandenser
params.max_missing=3
params.quandenser_additional_arguments="--dinosaur-threads 20"

// Crux
params.precursor_window=20.0
params.missed_clevages=2
params.mods_spec="2M+15.9949"
params.crux_index_additional_arguments=""
params.crux_search_additional_arguments=""
params.crux_percolator_additional_arguments=""

// Triqler
params.fold_change_eval=0.8
params.raw_intensities=false
params.triqler_additional_arguments=""

// Quandenser-pipeline
params.resume_directory=""
params.output_label=""


// Profiles //
profiles {

    local {
        process.executor="local"
    }

    cluster {
        process.executor="slurm"
        process.clusterOptions="-A <ACCOUNT>"
        process.queue="node"

        process {
            withName: msconvert {
                cpus=20
                time="20m"
            }
        }
        process {
            withName: quandenser {
                cpus=20
                time="2h"
            }
        }
        process {
            withName: quandenser_parallel_1 {
                cpus=20
                time="15m"
            }
        }
        process {
            withName: quandenser_parallel_2 {
                cpus=20
                time="10m"
            }
        }
        process {
            withName: quandenser_parallel_3 {
                cpus=20
                time="20m"
            }
        }
        process {
            withName: quandenser_parallel_4 {
                cpus=20
                time="20m"
            }
        }
        process {
            withName: quandenser_parallel_5 {
                cpus=20
                time="20m"
            }
        }
        process {
            withName: tide_search {
                cpus=20
                time="5m"
            }
        }
        process {
            withName: triqler {
                cpus=20
                time="20m"
            }
        }
    }
}

mail {
    smtp.host="smtp.gmail.com"
    smtp.port=587
    smtp.user=""
    smtp.password=""
    smtp.auth=true
    smtp.starttls.enable=true
    smtp.starttls.required=true
}
