profiles {

    standard {
        process.executor="local"
    }

    standard_restricted {
        process.executor="local"
        process {
            withName: test1 {
                time = '1s'
                cpus = 1
            }
        }
    }

    cluster {
        process.executor="slurm"
        process.clusterOptions = "-A snic2019-8-16 -o job.out"
        process.queue="node"

        process {
            withLabel:test1 {
                cpus = 8
                time = '1s'
            }
        }
    }
}
